<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>


<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #0f4c75;
}
</style>


</head>
<body>

	<ul>
		<li><a href="/gestionusuario">Usuarios</a></li>
		<li><a href="/gestioncliente">Clientes</a></li>
		<li><a href="/gestionproveedor">Proveedores</a></li>
		<li><a href="/gestionproducto">Productos</a></li>
		<li><a href="/venta">Ventas</a></li>
		<li><a href="/reporte">Reportes</a></li>
		<li><a href="/upload">Upload</a></li>
		<li style="float: right"><a class="active" href="#about">Tienda Genérica</a></li>
	</ul>

	<br>
	<h4 align="center">Gestión de Proveedores</h4>
	<br>
	<div class="container">
		<div>
			<form th:action="@{/crearProveedor}" th:object="${proveedor}"
				method="POST">


				<input type="text" placeholder="Nit" th:field="${proveedor.nit}" /><br>

				<input type="text" placeholder="Nombre" th:field="${proveedor.nombre}" /><br> 
				
				<input type="text" placeholder="Direccion" th:field="${proveedor.direccion}" /><br>

				<input type="text" placeholder="Telefono" th:field="${proveedor.telefono}" /><br> 
				
				<input type="text" placeholder="Ciudad" th:field="${proveedor.ciudad}" /><br> 
				
				<input type="submit" th:value="${proveedor.nit !=null}?'Guardar Proveedor':'Crear Proveedor'" />
			</form>
		</div>
	</div>
	<br>
	<br>
	<table class="table">

		<thead>
			<tr>
				<td>Nit</td>
				<td>Nombre</td>
				<td>Dirección</td>
				<td>Teléfono</td>
				<td>Ciudad</td>
			</tr>

		</thead>

		<tbody>
			<tr th:each="proveedor : ${proveedores}">
			
				<td th:text=${proveedor.nit}></td>
				
				<td th:text=${proveedor.nombre}></td>
				<td th:text=${proveedor.direccion}></td>
				<td th:text=${proveedor.telefono}></td>
				<td th:text=${proveedor.ciudad}></td>
				<td><a th:href="@{'/editarProveedor/' + ${proveedor.nit}}">Editar </a> | <a th:href="@{'/eliminarProveedor/' + ${proveedor.nit}}">
						Eliminar </a></td>
			</tr>

		</tbody>


	</table>

</body>

</html>