<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #0f4c75;
}

p {
	text-align: center;
}
</style>


</head>
<body>

	<ul>
		<li><a href="/gestionusuario">Usuarios</a></li>
		<li><a href="/gestioncliente">Clientes</a></li>
		<li><a href="/gestionproveedor">Proveedores</a></li>
		<li><a href="/gestionproducto">Productos</a></li>
		<li><a href="/venta">Ventas</a></li>
		<li><a href="/reporte">Reportes</a></li>
		<li><a href="/upload">Upload</a></li>
		<li style="float: right"><a class="active" href="#about">Tienda
				Genérica</a></li>
	</ul>
	<br>
	<br>
	<br>



	<br>
	<h4 align="center">Reportes</h4>
	<br>



	<p>
		<a href="/listarUsuarios" class="btn btn-secondary">Listado de Usuarios</a>
	</p>
	<br>
	<p>
		<a href="/listarClientes" class="btn btn-secondary">Listado de Clientes</a>
	</p>
	<br>
	<p>
		<a href="#" class="btn btn-secondary">Ventas por Cliente</a>
	</p>
	<br>





	<br>
	<br>

</body>

</html>